<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{if .Title}} {{ .Title }} {{else}} Welcome to Flotilla, A Basic & Extensible Go Web Framework {{end}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Description }}">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href="/flotilla/css/flotilla.css" rel="stylesheet" type='text/css'>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif] d-->
</head>
