<div class="fl-sidebar">
        <div id=fl-logo-side><img src="/flotilla/img/flotilla-logo1.png" width=100px></img></div>
        {{ if .TableOfContents }}
            <div id="toc">{{ .TableOfContents }}</div>
        {{ else }}
            <h3>About Flotilla</h3><p>Flotilla is a basic & extensible web development framework for Go.</p>
        {{ end }}
        <h3>Useful Links</h3>
            <ul>
                <li><a href="/">The Flotilla Website</a></li>
                <li><a href="http://github.com/thrisp/flotilla">Flotilla @ github</a></li>
                <li><a href="http://github.com/thrisp/flotilla/issues">Issue Tracker</a></li>
            </ul>
</div>
