/*
 http://www.colourlovers.com/palette/177020/Amsterdam_Acid
 C7FF00 199,255,0 green
 0069FF 0,105,255 blue
 FF3B2F 255,59,47 red
 494E54 73,78,84
 ADB39B 173,179,155
 */
body{background-color: rgba(173,179,155, 0.25);
    background-image: url("/flotilla/img/logo.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 25%;
}

a {color: #0069FF; text-decoration: none;}
a:hover {color: #FF3B2F; border-bottom: 1px dotted #0069FF;}
a:visited {color: #0069FF;}
a.reference em {font-style: normal;}

pre {
    font-family: consolas,monospace;
    font-size: 80%;
    line-height: 1.5em;
    padding: .5em 1em; 
    border-radius: 5px;
    background-color: rgba(173,179,155, 0.8);
    text-shadow: 0 1px 0 white;
    overflow-x: auto;
}

code {
    font-family: consolas,monospace;
    font-size: 85%;
    color: #333;           
    font-weight: bold;
}

td.code { width: 100%; }

/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

@media (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 58rem) {
  html {
    font-size: 20px;
  }
}

/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(173,179,155, 1.0);
  background-color: rgba(0,105,255, 1.0);
}

@media (min-width: 48rem) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

/* Sidebar links */
.sidebar a {color: rgba(173,179,155, 1.0);}
.sidebar a:hover{color: #C7FF00}
.sidebar a:visited{color: #C7FF00}

/* About section */
.sidebar-about h1 {
  color: rgba(173,179,155, 1.0);
  margin-top: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 900;
  font-size: 5.5rem;
}

/* Sidebar nav */
.sidebar-nav {
  padding-left: 0;
  list-style: none;
}

.sidebar-nav-item {
  display: block;
}

.sidebar-nav-item.active {
  font-weight: bold;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48rem) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}

.sidebar-sticky h1 {
  color: rgba(173,179,155, 1.0);
  margin-top: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 900;
  font-size: 5.5rem;
}


/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

@media (min-width: 48rem) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64rem) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

/*
 * Reverse layout
 *
 * Flip the orientation of the page by placing the `.sidebar` on the right.
 */

@media (min-width: 48rem) {
  .layout-reverse .sidebar {
    left: auto;
    right: 0;
  }
  .layout-reverse .content {
    margin-left: 2rem;
    margin-right: 20rem;
  }
}

@media (min-width: 64rem) {
  .layout-reverse .content {
    margin-left: 4rem;
    margin-right: 22rem;
  }
}
