<div class="sidebar">
    <div class="container">
        <div class="sidebar-about"> 
        </div>
        <div class="sidebar-sticky">
            <h1>Flotilla</h1>
            <ul class="sidebar-nav">
                <li><a href="/flotilla">The Flotilla Website</a></li>
                <li><a href="http://github.com/thrisp/flotilla">Flotilla @ github</a></li>
                <li><a href="http://github.com/thrisp/flotilla/issues">Issue Tracker</a></li>
            </ul>
            <h6><p>© Copyright 2015 <a href="http://github.com/thrisp">thrisp/hurrata</a></p></h6>
        </div>  
    </div>
</div>
